//fonts
$robotoregular : "RobotoRegular", sans-serif;
$robotobold : "RobotoBold", sans-serif;
$robotomedium : "RobotoMedium", sans-serif;
$robotolight : "RobotoLight", sans-serif;

//colors
$white : #ffffff;
$black : #544759;
$purple : #e07dd2;

