.about {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 2;
  .container {
    position: relative;
    padding: 140px 0 45px 0;
    z-index: 1;
    .row {
      height: 100%;
    }

    }
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-image: url(../../images/about/cosmos.png);
      -webkit-background-size: auto;
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
    }
  }

// стили блочка
.about-block {
  @extend .col-12, .col-lg-11;
  position: relative;
  box-shadow: 0px 6px 16px 0px rgba(7, 7, 7, 0.43);
  padding: 25px 40px 40px 40px;
  display: flex;
  flex-wrap: wrap;
  // стили планета
  &:before {
    content: '';
    display: inline-block;
    background-image: url(../../images/about/planet.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 170px;
    height: 170px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(45%, -50%);
  }
}

// стили бифоров (морд)
.before-stiles {
  content: '';
  display: inline-block;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position : center;
  position: absolute;
  z-index: 6;
  cursor: pointer;
}

// стили айтемов
.about-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  margin: 40px 0;
  p {
    position: relative;
    font-size: 18px;
    width: 230px;
    display: inline-block;
    color: $white;
    min-height: 40px;
    z-index: 5;
  }

  /*&:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    p {
      &::after {
        @extend .before-stiles;
        background-image: url(../../images/about/creative-cyclop.png);

      }
    }
  }*/
  &:nth-child(1),&:nth-child(3), &:nth-child(5) {
    padding-right: 65px;
    p {
      margin-left: auto;

      //margin-right: 40px;

      /*&::after {
        right: -90px;
        top: -25px;
      }*/
    }
  }
  &:nth-child(2),&:nth-child(4), &:nth-child(6) {
    padding-left: 40px;

  }
    p {
      margin-right: auto;
      margin-left: 25px;
      /*&::after {
        left: -100px;
        top: -25px;
      }*/
    //}
  }

  &:nth-child(1){
    p {
      &::after {
        background-image: url(../../images/about/creative-cyclop.png);
      }
    }
  }
  &:nth-child(2) {
    p {
      &::after {
        background-image: url(../../images/about/head.png);
      }
    }
  }
  &:nth-child(3) {
    padding-right: 135px;
    /*p {
      &::after {
        background-image: url(../../images/about/morty.png);
      }
    }*/
  }
  &:nth-child(4) {
    padding-left: 120px;

    /*p {
      &::after {
        background-image: url(../../images/about/robot.png);
      }
    }*/
  }
  /*&:nth-child(5) {

    p {
      &::after {
        background-image: url(../../images/about/rick.png);
      }
    }
  }
  &:nth-child(6) {
    p {
      &::after {
        background-image: url(../../images/about/cosmonaut.png);
      }
    }
  }*/
  // &:nth-child(5) {
  //   p {
  //     &::after {
  //       @extend .before-stiles;
  //       background-image: url(../../images/about/head.png);        right: -90px;
  //       top: -25px;
  //       right: -90px;
  //     }
  //   }
  // }
//   &:nth-child(1):before {
//       @extend .before-stiles;

//   }
//   &:nth-child(2):before {
//     @extend .before-stiles;
//     background-image: url(../../images/about/head.png);
//   }
// &:nth-child(3):before {
//   @extend .before-stiles;
//   background-image: url(../../images/about/morty.png);

//   right: 125px;
// }
// &:nth-child(4):before {
//   @extend .before-stiles;

//   background-image: url(../../images/about/robot.png);

//   left: 115px;
// }
//   &:nth-child(5):before {
//     @extend .before-stiles;
//     background-image: url(../../images/about/rick.png);

// }
//   &:nth-child(6):before {
//     @extend .before-stiles;
//     background-image: url(../../images/about/cosmonaut.png);
// }
// &:nth-child(1), &:nth-child(5) {
//   &::after {
//     right: 60px;
//   }
// }
// &:nth-child(2), &:nth-child(6) {
//   &::after {
//     left: 60px;
//   }
// }
  // &:nth-child(1),&:nth-child(3), &:nth-child(5) {


  // }
  // &:nth-child(2),&:nth-child(4), &:nth-child(6) {

  //   p {
  //     margin-right: auto;
  //     margin-left: 115px;
  //   }
  // }
  // &:nth-child(3)  {

  // }
  // &:nth-child(4) {

  // }
}




// media
@media (max-width: 1200px) {
  /*.about-item {
    &:nth-child(1),&:nth-child(3), &:nth-child(5) {
      p {
        margin-right: 70px;
      }
    }
    &:nth-child(2),&:nth-child(4), &:nth-child(6) {
      p {
        margin-left: 70px;
      }
  }
}*/
}

@media (max-width: 992px) {
  .about {
    .container {
      padding: 80px 0 45px 0;
    }
  }
  .about-block {
    padding: 25px 15px 40px 15px;
    &:before {
      // display: none;
      width: 130px;
    height: 130px;
    }
  }
  .about-item {
    p {
      font-size: 14px;
      width: 170px;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      p {
        &::after {
          //  width: 60px;
          //  height: 60px;
          background-size: cover;
      }
      }
    }
    &:nth-child(1),&:nth-child(3), &:nth-child(5) {
      padding-right: 40px;
      /*p {
        &::after{
          right: -70px;
          top: -15px;
        }
      }*/
    }
    &:nth-child(2),&:nth-child(4), &:nth-child(6) {
      padding-left: 40px;
      /*p {
        &::after {
          left: -80px;
          top: -15px;
        }
      }*/
    }
    &:nth-child(3)  {
      padding-right: 90px;
    }
    &:nth-child(4) {
      padding-left: 90px;
    }
    // адаптивные размеры иконок
    &:nth-child(1) {
      img {

          width: 63px;
          height: 61px;

      }
    }
    &:nth-child(2) {
      img {

          width: 61px;
          height: 60px;

      }

    }
    &:nth-child(3) {
      img {

          width: 60px;
          height: 69px;

      }

    }
    &:nth-child(4) {
      img {

          width: 60px;
          height: 73px;

      }

    }
    &:nth-child(5) {
      img {

          width: 64px;
          height: 62px;

      }
    }
    &:nth-child(6) {
      img {
          width: 62px;
          height: 60px;

      }

    }
  }
}
@media (max-width: 768px) {
  .about-block {
    &:before {
      opacity: .4;
    }
  }
  .about-item {
    margin: 25px 0;
     width: 100%;
     &:nth-child(3) {
       padding-right: 40px;
     }
     &:nth-child(4) {
      padding-left: 40px;
    }
    &:nth-child(1),&:nth-child(3),&:nth-child(6) {
      p {
        margin-left: auto;
        margin-right: 25px;
      }
    }
  }
}

@media (max-width: 480px) {
  .about {
    .container {
      padding: 50px 0 45px 0;
      &:after {
        top: -10px;
      }
    }
  }
}
