.insta-g {
  position: relative;
  .container {
    padding-top: 130px;
    padding-bottom: 70px;
    position: relative;
    &:before {
      @extend .bafter, .arc;
      background-image: url(../../images/violet-elips.png);
      height: 125px;
      width: 95%;
      top: 0;
    }
    &:after {
      @extend .bafter;
      top: 82px;
      right: 50%;
      transform: translate(50%, -50%);
      background-image: url(../../images/moonRover.png);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 83px;
      height: 73px;
      z-index: 3;
    }
  }
}

.gallery {
  @extend .col-lg-11, .col-12;
}

.gallery-string {
  position: relative;
  display: flex;
  margin-bottom: 40px;
}
.col-example {
  margin-left: 15px;
  margin-right: 15px;
  width: 255px;
  height: 250px;
  overflow: hidden;
  &:nth-child(1) {
    margin-left: 0;
  }
  &:nth-child(3) {
    margin-right: 0;
  }
}

.more-photos-wrap {
  height: 210px;
  width: 96%;
  box-shadow: 0 5px 13px 0 rgba(7, 7, 7, .45);
  background-color: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2%;
  z-index: 2;
}
.more-photos {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .icon {
    height: 94px;
    margin-bottom: 15px;
    img {
      height: 100%;
    }
  }
  p {
    font-size: 14px;
    font-family: $robotolight;
    margin-bottom: 7px;
  }
  button {
    margin-left: auto;
    margin-right: auto;
    width: 144px;
    height: 34px;
    background-color: $purple;
    border: none;
    color: $white;
  }
}

.gallery-line {
  display: flex;
  position: relative;
  .swiper-container {
    display: inline-flex;
    margin-left: 0;
    margin-right: 0;
  }
  .swiper-slide {
    position: relative;
    overflow: hidden;
    height: 250px;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}





.gallery- {
  &row {
    display: flex;
    position: relative;
    margin-bottom: 100px;
    z-index: 0;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      -webkit-box-shadow: 0 5px 13px 0 rgba(7, 7, 7, .45);
      -moz-box-shadow: 0 5px 13px 0 rgba(7, 7, 7, .45);
      box-shadow: 0 5px 13px 0 rgba(7, 7, 7, .45);
      z-index: 1;
    }
    & > div {
      position: relative;
    }
    .swiper-slide {
      min-height: 250px;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &slider {
    flex-grow: 1;
    z-index: 0;
  }
  &col {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    padding: 30px 30px 30px 15px;
    min-width: 200px;
    max-width: 200px;
    z-index: 1;
    img {
      max-width: 95px;
      max-height: 95px;
      margin-bottom: 10px;
    }
    span {
      font-size: 14px;
      margin-bottom: 10px;
      font-family: $robotolight;
    }
    button {
      padding: 5px 15px;
      background-color: #e07dd2;
      border: none;
      color: #ffffff;
    }
  }
}





//media

@media (max-width: 1200px) {
  .insta-g .container::after {
    top: 63px;
  }

  .swiper-container {
    width: 76%;
}

  .swiper-slide {
    width: 240px;
    height: 235px;
  }


}

@media (max-width: 991px) {
  .insta-g .container::after {
    top: 38px;
  }
  .gallery {
    width: 100%;
  }
  .ex-3, .ex-6, .ex-9 {
    display: none;
  }
  .more-photos-wrap {
    width: 90%;
    right: 20px;
  }
  .gallery-string {
    &:nth-child(2) {
      .more-photos-wrap {
        left: 20px;
      }
    }
  }
}

@media (max-width : 767px) {
  .insta-g .container::after {
    top: 23px;
  }
}

@media (max-width: 480px) {
  .insta-g .container::after {
    top: 13px;
  }
  .col-example {
    margin-bottom: 36px;
  }
  .ex-2, .ex-5, .ex-8 {
    display: none;
  }
  .more-photos-wrap {
    .more-photos {
      margin-left: auto;
      margin-right: auto;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

@media (max-width : 400px) {
  .gallery- {
    &row {
      flex-direction: column;
      &::before {
        top: 20px;
        left: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
      }
    }
    &slider {
      width: 100%;
    }
    &col {
      padding: 20px 40px 40px;
      min-width: auto;
      max-width: none;
    }
  }
}

@media (max-width : 320px) {
  .insta-g .container::after {
    top: -4px;
  }
}
